# Project 4 - Virus Prediction

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, timedelta
from math import sin, cos, sqrt, atan2, radians


%matplotlib inline

In [2]:
pd.set_option('display.max_columns', 500)

## Data Cleaning and preprocessing

### Weather

Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level

Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

In [ ]:
#df_weather

### Spray

In [ ]:
#df_spray

### Train

In [52]:
df_tr = pd.read_csv('../assets/train.csv')

In [53]:
df_tr.shape

(10506, 12)

In [54]:
df_tr.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [59]:
df_tr['Date'] = pd.to_datetime(df_tr['Date'])

### Test

In [71]:
df_tst = pd.read_csv('../assets/test.csv')

In [72]:
df_tst.shape

(116293, 11)

In [73]:
df_tst['Date'] = pd.to_datetime(dr_tst['Date'])

In [ ]:
#df_tst_full

### Combined dataset

In [50]:
df_tr_full = pd.read_csv('../assets/df_tr_full.csv')

In [51]:
df_tr_full.head()

,Date,month,year,Block,Latitude,Longitude,Street,Trap,Tmax,Tmin,Tavg,DewPoint,dew_point_depression,WetBulb,wet_bulb_depression,Heat,Cool,relative_humidity,Sunrise,Sunset,daytime,Species,WnvPresent,PrecipTotal,StnPressure,ResultSpeed,ResultDir,VCTS,RA,HZ,BR,FG,DZ,TSRA,TS
0,2007-05-29,5,2007,41,41.954690,-87.800991,N OAK PARK AVE,T002,88,60,74.0,58,16.0,65.0,9.0,0.0,9.0,57,0 days 04:21:00.000000000,0 days 19:17:00.000000000,0 days 14:56:00.000000000,CULEX PIPIENS/RESTUANS,0.0,0.0,29.39,5.8,18,0,0,1,1,0,0,0,0
1,2007-05-29,5,2007,41,41.954690,-87.800991,N OAK PARK AVE,T002,88,60,74.0,58,16.0,65.0,9.0,0.0,9.0,57,0 days 04:21:00.000000000,0 days 19:17:00.000000000,0 days 14:56:00.000000000,CULEX RESTUANS,0.0,0.0,29.39,5.8,18,0,0,1,1,0,0,0,0
2,2007-05-29,5,2007,62,41.994991,-87.769279,N MANDELL AVE,T007,88,60,74.0,58,16.0,65.0,9.0,0.0,9.0,57,0 days 04:21:00.000000000,0 days 19:17:00.000000000,0 days 14:56:00.000000000,CULEX RESTUANS,0.0,0.0,29.39,5.8,18,0,0,1,1,0,0,0,0
3,2007-05-29,5,2007,79,41.974089,-87.824812,W FOSTER AVE,T015,88,60,74.0,58,16.0,65.0,9.0,0.0,9.0,57,0 days 04:21:00.000000000,0 days 19:17:00.000000000,0 days 14:56:00.000000000,CULEX PIPIENS/RESTUANS,0.0,0.0,29.39,5.8,18,0,0,1,1,0,0,0,0
4,2007-05-29,5,2007,79,41.974089,-87.824812,W FOSTER AVE,T015,88,60,74.0,58,16.0,65.0,9.0,0.0,9.0,57,0 days 04:21:00.000000000,0 days 19:17:00.000000000,0 days 14:56:00.000000000,CULEX RESTUANS,0.0,0.0,29.39,5.8,18,0,0,1,1,0,0,0,0

In [7]:
df_tr_full.shape

(10506, 35)

In [58]:
df_tr_full["Date"] = pd.to_datetime(df_tr_full['Date'])

## EDA

### Weather station distance to observations - Clement

In [6]:
def calc_dist_chk(lat1, lon1, lat2, lon2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    #formula calc distance between two points 
    #haversine formula
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    #distance in km
    distance = R * c

    return round(distance, 4)

In [34]:
def check_dist_station(df):
    #checking distance from station
    station1_wea = (41.995, -87.933)
    station2_wea = (41.786, -87.752)
    nearest_station1_list = []

    for i  in range(df.shape[0]): #loop thru data
        train_date = df.loc[i, :]['Date'] 
        train_lat = df.loc[i, 'Latitude']
        train_lon = df.loc[i, 'Longitude']
        dist_station1 = calc_dist_chk(station1_wea[0], station1_wea[1], train_lat, train_lon)
        dist_station2 = calc_dist_chk(station2_wea[0], station2_wea[1], train_lat, train_lon)
        if dist_station1 <= dist_station2:
            nearest_station1_list.append(1)
        else:
            nearest_station1_list.append(0)

#         if i%1000 == 0:
#             print(f"Loop {i}..")

    return nearest_station1_list

In [61]:
df_tr['near_sta1'] = check_dist_station(df_tr)

Loop 0..
Loop 1000..
Loop 2000..
Loop 3000..
Loop 4000..
Loop 5000..
Loop 6000..
Loop 7000..
Loop 8000..
Loop 9000..
Loop 10000..

In [62]:
df_tr.shape

(10506, 13)

In [81]:
df_tr['near_sta1'].value_counts()

0    7208
1    3298
Name: near_sta1, dtype: int64

__Save to CSV__

In [82]:
df_tr.to_csv('../assets/df_tr_weather_sta.csv')

In [74]:
df_tst['near_sta1'] = check_dist_station(df_tst)

Loop 0..
Loop 1000..
Loop 2000..
Loop 3000..
Loop 4000..
Loop 5000..
Loop 6000..
Loop 7000..
Loop 8000..
Loop 9000..
Loop 10000..
Loop 11000..
Loop 12000..
Loop 13000..
Loop 14000..
Loop 15000..
Loop 16000..
Loop 17000..
Loop 18000..
Loop 19000..
Loop 20000..
Loop 21000..
Loop 22000..
Loop 23000..
Loop 24000..
Loop 25000..
Loop 26000..
Loop 27000..
Loop 28000..
Loop 29000..
Loop 30000..
Loop 31000..
Loop 32000..
Loop 33000..
Loop 34000..
Loop 35000..
Loop 36000..
Loop 37000..
Loop 38000..
Loop 39000..
Loop 40000..
Loop 41000..
Loop 42000..
Loop 43000..
Loop 44000..
Loop 45000..
Loop 46000..
Loop 47000..
Loop 48000..
Loop 49000..
Loop 50000..
Loop 51000..
Loop 52000..
Loop 53000..
Loop 54000..
Loop 55000..
Loop 56000..
Loop 57000..
Loop 58000..
Loop 59000..
Loop 60000..
Loop 61000..
Loop 62000..
Loop 63000..
Loop 64000..
Loop 65000..
Loop 66000..
Loop 67000..
Loop 68000..
Loop 69000..
Loop 70000..
Loop 71000..
Loop 72000..
Loop 73000..
Loop 74000..
Loop 75000..
Loop 76000..
Loop 77000..
Loop 78000..
Loop 79000..
Loop 80000..
Loop 81000..
Loop 82000..
Loop 83000..
Loop 84000..
Loop 85000..
Loop 86000..
Loop 87000..
Loop 88000..
Loop 89000..
Loop 90000..
Loop 91000..
Loop 92000..
Loop 93000..
Loop 94000..
Loop 95000..
Loop 96000..
Loop 97000..
Loop 98000..
Loop 99000..
Loop 100000..
Loop 101000..
Loop 102000..
Loop 103000..
Loop 104000..
Loop 105000..
Loop 106000..
Loop 107000..
Loop 108000..
Loop 109000..
Loop 110000..
Loop 111000..
Loop 112000..
Loop 113000..
Loop 114000..
Loop 115000..
Loop 116000..

In [80]:
df_tst['near_sta1'].value_counts()

0    80892
1    35401
Name: near_sta1, dtype: int64

__Save to CSV__

In [83]:
df_tst.to_csv('../assets/df_tst_weather_sta.csv')

__Verification for distance__

In [45]:
df_tr.loc[:,['Date', 'month', 'year', 'Block', 'Latitude', 'Longitude', 'near_sta1']].head(10)

         Date  month  year  Block   Latitude  Longitude  near_sta1
0  2007-05-29      5  2007     41  41.954690 -87.800991          1
1  2007-05-29      5  2007     41  41.954690 -87.800991          1
2  2007-05-29      5  2007     62  41.994991 -87.769279          1
3  2007-05-29      5  2007     79  41.974089 -87.824812          1
4  2007-05-29      5  2007     79  41.974089 -87.824812          1
5  2007-05-29      5  2007     15  41.921600 -87.666455          0
6  2007-05-29      5  2007     25  41.891118 -87.654491          0
7  2007-05-29      5  2007     11  41.867108 -87.654224          0
8  2007-05-29      5  2007     11  41.867108 -87.654224          0
9  2007-05-29      5  2007     11  41.896282 -87.655232          0

In [46]:
station1_wea = (41.995, -87.933)
station2_wea = (41.786, -87.752)

In [47]:
calc_dist_chk(41.921600, -87.666455, station1_wea[0], station1_wea[1])

23.5101

In [48]:
calc_dist_chk(41.921600, -87.666455, station1_wea[0], station2_wea[1])

10.8038

### Check correlation between spray and WNV - Clement

In [20]:
#TO FIND POINTS THAT ARE WNVPRESENT AND COINCIDES WITH SPRAY DATES AT MOST 2 DAYS BEFORE

suspect_dates = {}
wnv_df = df_tr_full[df_tr_full['WnvPresent'] == 1].reset_index()

for i  in range(wnv_df.shape[0]): #loop thru train data having WnvPresent
    wnv_date = wnv_df.loc[i, :]['Date'] 
    twod_before = wnv_date - timedelta(days=2)
    wnv_lat = wnv_df.loc[i, 'Latitude']
    wnv_lon = wnv_df.loc[i, 'Longitude']
    
    #spray dates coincide with 1-2 days before wnv spotted
    spray_coincide = spray[(spray['Date'] >= twod_before) & (spray['Date'] < wnv_date)].reset_index()
    if spray_coincide.shape[0] > 0:
        for j in range(spray_coincide.shape[0]):
            spray_lat = spray_coincide.loc[j, 'Latitude']
            spray_lon = spray_coincide.loc[j, 'Longitude']
            if calc_dist_chk(wnv_lat, wnv_lon, spray_lat, spray_lon) < 0.5:
                suspect_dates[wnv_df.loc[i,'index']] = (wnv_df.loc[i,'Date'],\
                    calc_dist_chk(wnv_lat, wnv_lon, spray_lat, spray_lon), round(wnv_lat,4), round(wnv_lon, 4))

TypeError: unsupported operand type(s) for -: 'str' and 'datetime.timedelta'

### Correlation between weather time lag and WNV - Abi

## Modelling - Keith